@using Orchard.ContentManagement;
@using System.Globalization;

@{
   // var settings = WorkContext.CurrentSite.As<BootstrapThemeSettingsPart>();
    var cultureInfo = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}

<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage() @(cultureInfo.TextInfo.IsRightToLeft ? "rtl" : string.Empty)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Html.Title(title, siteName)</title>

    @Display(Model.Head)

    <script type="text/javascript">
        (function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);
    </script>
</head>

<body>
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>